/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #000;
  color: #fff;
}

#header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

#header img {
  width: 150px;
}

.banner {
  background-color: rgba(0, 0, 0, 0);
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.textbox {
  background-color: grey;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.textbox h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: red !important;
  margin-bottom: 10px;
}

.textbox p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  line-height: 1.2; /* Reduced line spacing */
  margin-bottom: 10px;
}


.banner h1 {
  line-height: 1;
  font-family: 'Courier Prime', monospace;
  letter-spacing: 9px;
  color: red;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
}

.banner h2 {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffc778;
  font-size: 20px;
  opacity: 1;
  margin-bottom: 0;
}

.banner h3 {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  color: #fff;
  font-size: 18px;
}

.container {
  margin: 40px auto;
  max-width: 960px;
  padding: 0 20px;
}

.container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  background-color: #000;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 6px;
}

.card h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.card p {
  margin-bottom: 20px;
  color: #fff;
}

#apply-form {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: #000;
}

#apply-form .typeform-widget {
  width: 100%;
  height: 500px;
}

#apply-form a {
  color: #999;
  text-decoration: none;
  opacity: 0.5;
  font-size: 12px;
  padding-top: 5px;
}

/* Button Styles */
.btn-blue {
  line-height: 10;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-blue:hover {
  background-color: #ff0000;
  color: #fff;
}


#feedback-form {
  background-color: darkred;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

#feedback-form h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

#feedback-form p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

#feedback-form .btn-blue {
  line-height: 10;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
}

#feedback-form .btn-blue:hover {
  background-color: #ffc77889;
  color: white;
}

